<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="page-header">
        <h1>Fuzzy Miner Web</h1>
        <a href="/">Home</a>
        <a href="/help">Help</a>
    </div>
    <div>
        <div>
            <label>Fuzzy Model</label>
            <!--here should be canvas-->
            <button type="button" class="btn btn-default">Save Snapshot</button>
        </div>
        <div>
            <h3>Configurations</h3>
            <div>
                <label>Node Filter</label>

            </div>
            <button type="button" class="btn btn-default">Metrics Configuration</button>
        </div>
    </div>
    <div class="panel-footer">
        <p style="lighting-color: grey">@ Copy right 2020</p>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" />
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" />
</body>
</html>