[uwsgi]
# Process id File
pidfile=<YOUR_PATH>/FuzzyMiner/scripts/uwsgi.pid
# Listening IP Address and Port for UWSGI, directly Access by Socket with Nginx
socket=<YOUR_PATH>/FuzzyMiner/scripts/uwsgi.sock
chmod-socket=644
# Access by http without Nginx
# http=<YOUR_IP>:8000
# User id for Whom Start UWSGI
uid=<USER>
# Group id for Whom Start UWSGI
gid=<USER>
# Whether Removing Unix Socket and PID File automatically When UWSGI Service Stops
vacuum=true
# Virtual Environment
virtualenv=<YOUR_PATH>/FuzzyMiner/venv
# Base Directory of Prject
chdir=<YOUR_PATH>/FuzzyMiner/FuzzyMiner
# Django's WSGI File
wsgi-file=FuzzyMiner/wsgi.py
# Project Application
module=FuzzyMiner.wsgi:miner
# File Name for Index
static-index=index.html
# Root of Static Folder
static-map=/static=<YOUR_PATH>/FuzzyMiner/FuzzyMiner/templates/static
static-map=/media=<YOUR_PATH>/FuzzyMiner/FuzzyMiner/media
# Set Cheaper Algorithm to Use, If not Set Default will be Used
cheaper-algo=spare
# Minimum Number of Workers to Keep at all Times
cheaper=2
# Number of Workers to Spawn at Startup
cheaper-initial=3
# Maximun Number of Workers that can be Spawned
workers=10
# How many Workers should be Spawned at a Time
cheaper-step=1
# Enable Threads
enable-threads=true
# Number of Threads
threads=5
# Workers wil be Destoryed after the number of seconds of unactive
idle=360
# Buffer Size (Bytes)
post-buffering=8192
# Do not Wait for Threads Quitting When Rebooting or Quitting
no-threads-wait=true
# Only ERROR LOG
# disable-logging=true
# Write Log to Location
# logto=<YOUR_PATH>/FuzzyMiner/scripts/%n.log
# Write Log to syslog
log-syslog=true
# Enable Status Statistics
# stats=<YOUR_IP>:9091
